body {
	background-color: #202124;
	margin: 0;
	padding: 0;
	min-width: 400px;
	color: white;
	font-size: 14px;
	font-family: arial, sans-serif;
	overflow: hidden;
}
nav {
	display: flex;
	height: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-end;
	align-items: center;
}
nav div {
	padding: 6px;
	margin: 4px;
}
.nav-link:hover {
	text-decoration: underline;
	cursor: pointer;
}
.nav-img:hover {
	background-color: #515151;
	border-radius: 50%;
}
#profile-pic {
	background-size: 32px 32px;
	border: 0;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	margin: 0px;
	position: relative;
	height: 32px;
	width: 32px;
	z-index: 0;
}
.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 568px);
}
#google-logo {
	max-height: 92px;
	position: relative;
}
#search-bar-img {
	fill: #9aa0a6;
	height: 20px;
	width: 20px;
}

.search-bar-container {
	display: flex;
	border: 1px solid #5f6368;
	border-radius: 40px;
	width: 584px;
	padding: 13px;
	margin-top: 1.8rem;
}

.search-bar-container:hover {
	background-color: #303134;
	border-color: rgba(223, 225, 229, 0);
	box-shadow: 0 1px 6px 0 #171717;
}

input {
	all: unset;
	color: white;
	width: 100%;
	padding-left: 5px;
}

button {
	background: #303134;
	border: 1px solid #303134;
	color: #e8eaed;
	border-radius: 4px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

button:hover {
	box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
	background-color: #303134;
	border: 1px solid #5f6368;
	color: #e8eaed;
}

footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background: #171717;
	position: absolute;
	bottom: 0;
	width: 100%;
	align-items: center;
	background: #171717;
	font-size: 10px;
	align-content: center;
}

.child-items {
	display: block;
	padding: 10px;
	font-size: 11px;
	color: #999da2;
	white-space: nowrap;
}
.child-items:hover {
	box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
	text-decoration: underline;
	cursor: pointer;
}
